@using RentalCarManagementSystem.Core.Models.Booking;

@model AllBookingsViewModel

<tr>
    <td>@Model.FullName</td>
    <td>@Model.PickUpDateAndTime</td>
    <td>@Model.DropOffDateAndTime</td>
    <td>@String.Format("{0:f2}", Model.TotalAmount) BGN</td>
    <td>
        <a asp-area="Admin" asp-controller="Booking" asp-action="Details" asp-route-id="@Model.Id"
           class="btn btn-warning">Details</a>
    </td>
    <td>
        <form asp-area="Admin" asp-controller="Booking" asp-action="CheckOut"
              asp-route-id="@Model.Id" method="post">
            <input class="btn btn-danger" type="submit" value="Check Out" />
        </form>
    </td>
</tr>
