@model ScheduleServiceModel

@{
    ViewData["Title"] = "Home Page";
}


<div class="mt-2 p-3 bg-light text-center">
    <h2 class="display-4">Hello, Admin!</h2>
    <p class="lead mb-1 mt-3">
        This is your administrator area - you can <b>read</b>, <b>create</b>,
        <b>delete</b> and <b>edit</b> cars.
        <br />You can <b>Check-In</b> and <b>Check-Out</b> and see <b>all bookings</b> in the system.
    </p>
    <p class="lead mt-1">
        You can also see <b>all users,</b> manage them and sign a role. 
    </p>
</div>

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>Daily Shedule</h1>
            </div>
        </div>
    </div>
</section>

<section class="content pb-3">
    <div class="container-fluid h-100">
        <div class="card card-row card-primary">
            <div class="card-header">
                <h3 class="card-title">
                    Statistics
                </h3>
            </div>
            <div class="card-body">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h5 class="card-title">Total cars: @Model.TotalCars</h5>
                    </div>
                    <div class="card-header">
                        <h5 class="card-title">Total available cars: @Model.TotalAvailableCars</h5>
                    </div>
                    <div class="card-header">
                        <h5 class="card-title">Total rented cars: @Model.TotalRentedCars</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-row card-primary">
            <div class="card-header bg-info">
                <h3 class="card-title">
                    CheckIns Today
                </h3>
            </div>
            <div class="card-body">
                <div class="card card-light card-outline">
                    <div class="card-header">
                        <h5 class="card-title">Total CheckIns: @Model.CheckInsTodayCount</h5>
                    </div>
                </div>
            </div>
            <div class="card card-row card-danger">
                <div class="card-header">
                    <h3 class="card-title">
                        CheckOuts Today
                    </h3>
                </div>
                <div class="card-body">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h5 class="card-title">Total CheckOuts: @Model.CheckOutsTodayCount</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
